.footer {
    display: flex;
    justify-content: space-between;
    height: 7rem;
    background-color: $colour-primary;
    color: #fff;
    align-items: center;
    &__links {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        & a {
            color: $background-color;
        }
    }
    &__socials {
        margin-right: 2rem;
    }
}

.post-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 2rem;
    background-color: $colour-tertiary;
    color: $background-color;
    & p {
        margin: 0;
        padding-right: 2rem;
    }
}