h1, h2, h3 {
    // font-family: 'DM Serif Display', serif;
    font-family: 'Cinzel Decorative', cursive;
}

p {
    // font-family: 'Cardo', serif;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    // font-family: 'Cardo', serif;
    font-family: 'Source Sans Pro', sans-serif;
}