// $colour-primary: darken(#998163, 10%);
$colour-primary: #6b1d1f;
// $colour-secondary: #13371D; //à rendre - opaque
$colour-secondary: darken(#D69C12, 10%);
$colour-tertiary: #1f1f1f;
$background-color: lighten(#c5bab8, 20%);
